*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background:  #0073ff;
    background-size:100% ;
}
p{
    margin: 0;
    padding: 0;
}
.reloj{
    font-family: "monospace";
    color: #ffffff;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-shadow: 0 0 20px rgb(10,175,230,1), 0 0 20px rgb(10,175,230,0) ;
}
.tiempo{
    letter-spacing: 0.05em;
    font-size: 70px;
    padding: 5px 0;
}
.fecha{
    letter-spacing: 0.1em;
    font-size: 18px;
}